{
  margin: 0;
  padding: 0;
}

#jumbo span {
  font-size: small;
  color: #e4405f;
}

#logo {
  max-height: 150px;
  max-width: 150px;
}

.navlinks {
  background-color: aqua;
  margin-top: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navitemfirst {
  margin-left: 100px;
}

.navitemlast {
  margin-right: 100px;
}

.navlinks a {
  padding: 5px;
  color: black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-menu {
  background-color: aqua;
  color: black;
  font-weight: bold;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about {
  margin-top: 40px;
}

.dropdown-menu .droplink {
  background-color: aqua;
  border: 1px solid blue;
  border-radius: 2%;
  margin: 1px;
  padding: 5px;
}

.dropdown-menu .droplink:hover {
  background-color: pink;
}

.gallery-active {
  text-decoration: underline;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.whats-new-container {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: -100px;
}

.whats-new-heading {
  margin-right: 10px;
  color: #337ab7;
}

.marquee-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.marquee {
  white-space: nowrap;
  animation: marquee 16s linear infinite;
  width: max-content;
  margin-right: 50px;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 0;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

#jumbo .card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#jumbo .card img {
  width: auto;
  height: 240px;
}

#jumbo .card h3 {
  margin-top: 10px;
}

#jumbo .card p {
  margin-top: 10px;
}

.vm .container {
  display: flex;
  flex-wrap: wrap;
}

.vm .section {
  flex-basis: 50%;
  padding: 20px;
}

.vm h2 {
  color: #333;
  font-size: 24px;
}

.vm p {
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}

.vm .vision-mission-container {
  display: flex;
  opacity: 0.85;
}

.vm .vision {
  flex-basis: 50%;
  margin: 10px;
  border: 3px solid blue;
  padding: 50px;
  border-radius: 60%;
  background-color: rgb(200, 181, 205);
  font-weight: bold;
}

.vm .mission {
  flex-basis: 50%;
  margin: 10px;
  border: 3px solid blue;
  padding: 50px;
  border-radius: 60%;
  background-color: rgb(200, 181, 205);
  font-weight: bold;
}

.vmbox {
  background-image: url('images/school2.jpg');
}
.vmbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
}

#contact-container {
  display: flex;
  align-items: center;
  margin: 30px;
  padding: 30px;
  background-color: #555;
}

#logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

#contact-details {
  text-align: left;
  color: white;
}

.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-list li {
  margin-right: 10px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-list li a:hover {
  background-color: #777777;
}

.social-list li a i {
  font-size: 18px;
}

.social-list li a.facebook {
  background-color: #3b5998;
}

.social-list li a.twitter {
  background-color: #1da1f2;
}

.social-list li a.linkedin {
  background-color: #0077b5;
}

.social-list li a.instagram {
  background-color: #e4405f;
}

.social-list li a.googlePlus {
  background-color: #dd4b39;
}

.carousel-item img {
  width: 90%;
  height: 520px;
  object-fit: cover;
}
